a {
    text-decoration: none;
}


/*##########*/
/*SERVIÇOS*/
/*##########*/
.services {
    margin-top: 50px;
}

.service-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    overflow: hidden;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
}

.service-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-box .icon {
    text-align: center;
}

.service-box .icon img {
    height: auto;
    max-width: 100%;
    transition: filter 0.3s ease-in-out;
}

.service-box:hover .icon img {
    filter: grayscale(100%);
}

.service-box_body {
    padding: 20px 0;
}

.service-box_body .title {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.service-box_body .service-box_txt {
    color: #666;
    font-size: 1rem;
    margin-bottom: 15px;
}

.services-text-highlight {
    color: var(--cor-primaria);
}

@media screen and (max-width: 1186px) {
    .service-box {
        height: 300px;
    }
}

@media screen and (max-width: 991px) {
    .service {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .service-box {
        min-height: 110%;
    }
}

@media screen and (max-width: 767px) {

    .service-box {
        min-height: 100%;
    }

    .service {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 520px) {

    .service-box {
        min-height: 120%;
    }

    .service {
        padding-bottom: 60px;
    }
}







/*##########*/
/*NEWS*/
/*##########*/


.title-blog {
    color: var(--cor-primaria);
}
.news {
    cursor: pointer;
}
.news h1 {
    color: #333;
    font-size: 36px;
}
.card-content p {
    padding: 0 20px;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.img-card img {
    width: 100%;
    height: 170px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-news-title {
    padding: 20px;
    color: #5c6873;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 4.5em; /* Defina a altura máxima em em ou px */
    overflow: hidden;
}
.card-news-text {
    color: #777;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.card-link-news {
    padding: 20px;
    text-decoration: none;
}
.card-link-news a {
    color: var(--cor-primaria);
}

.card-link-news a:hover {
    text-decoration: underline;
}
.custom-card {
    max-width: 400px; /* Define a largura máxima das cartas */
    margin: auto;     /* Centraliza as cartas quando estão em uma linha de tamanho menor */
}








/*##########*/
/*CONTOLER*/
/*##########*/
.print_control {
    margin-top: 100px;
    padding: 0;
}

.full-row {
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.vc_column-inner {
    padding: 20px;
    border-radius: 8px;
}

.max-title4 h2 {
    font-size: 34px;
    color: #777;
    text-align: center;
}

.vertical-space5 {
    margin-top: 50px;
}

.vertical-space1 {
    margin-top: 20px;
}

.vertical-space2 {
    margin-top: 40px;
}

.vc_row {
    display: flex;
    justify-content: space-between;
}

.vc_column {
    flex: 1;
    margin: 10px;
}

.max-title h2 {
    margin-bottom: 60px;
}

.icon-box20 {
    text-align: center;
    min-height: 100px;
}

.icon-box20 i {
    font-size: 50px;
    margin-bottom: 15px;
}

.icon-box20 h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.icon-box20 p {
    font-size: 16px;
    color: #777;
}



.locacao {
    margin-top: 90px;
}

.locacao-text-highlight {
    color: var(--cor-primaria);
}

.line-locacao {
    background: var(--cor-primaria);
}

.nav-pills-locacao {
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-pills-locacao a {
    color: var(--cor-primaria);
}

.collapse-content p {
    text-align: justify;
}


.nav-link.active {
    font-weight: bold;
}

.nav-pills .nav-link {
    margin-right: 5px;
}

.nav-pills .nav-link:not(.active) {
    color: var(--cor-texto);
}

.active-indicator {
    width: 300px;
    height: 3px;
    background-color: var(--cor-primaria);
    margin-top: 5px;
    display: none;
}

@media (max-width: 950px) {
    .collapse-content {
        margin: 20px;
    }

    .collapse-content p {
        padding-left: 50px;
    }
}

@media (max-width: 768px) {
    .collapse-content p {
        margin-top: 50px;
        padding-left: 0;
    }
}





/*##########*/
/*BANNER INFORMAÇÃO*/
/*##########*/

.s-banner-section {
    background-color: #044060;
    padding: 60px;
    border-radius: 120px;
    position: relative;
}

.c-white {
    color: #FFF;
}

.information {
    margin-top: 150px;
    margin-bottom: 50px;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.information-banner-btn {
    position: relative;
    background-color: var(--cor-primaria);;
    padding: 10px 35px;
    border-radius: 30px;
    border-color: var(--cor-primaria);;
    margin-top: 25px;
    z-index: 1;
    color: #FFF;
}

.information-banner-btn:hover {
    color: var(--cor-primaria);
    background: #FFF;
    text-decoration: underline;
}

.information-banner-text,
.information-banner-img {
    height: 100%;
}

.information-banner-contact-img {
    position: absolute;
    bottom: 0;
    transform: translateX(18%);
}


@media screen and (max-width: 935px) {
    .information {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .information-banner-contact-img {
        transform: translateX(-10%);
    }
}


@media screen and (max-width: 767px) {
    .information-banner-contact-img {
        display: none;
    }

    .information {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
