.btn-suprimentos-header {
    background: var(--cor-primaria);
    color: #FFF;
    margin-left: 30px;
}

.btn-chamado-header {
    background: var(--cor-primaria);
    color: #FFF;
    margin-left: 30px;
}


.btn-chamado-header:hover {
    text-decoration: underline;
}

@keyframes balancar {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 991px) {
    .btn-phone-header {
        background: transparent;
        color: #333;
    }

    .btn-phone-header i{
        padding: 0;
        margin: 0;
    }

    .navbar {
        padding: 5px 30px;
    }
}


/*##########*/
/*FORMULARIOS*/
/*##########*/
.form-group {
    margin-bottom: 12px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header .close {
    border: none;
    background: none;
    font-size: 20pt;
    font-weight: bolder;
    cursor: pointer; /* Adiciona um cursor pointer ao botão de fechar */
}
.mandatory {
    color: red;
}


